<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <link th:href="@{/tailwind.css}" href="../static/tailwind.css" rel="stylesheet">
</head>
<body>
<main class="pt-8 text-center">
  <h1 class="mb-8 text-3xl font-bold uppercase">Tic Tac Toe</h1>
  <form class="grid grid-cols-3 mx-auto w-64 border-black border-solid border-2" th:action="@{/game}"
        method="post"
  >
    <th:block th:switch="${game.gameOn}">
      <th:block th:case="${true}">
        <th:block th:each="line, iter : *{game.board}">
          <th:block th:each="square, iterInner : ${line}">
            <th:block th:if="${square == ''}">
              <button
                  class="h-24 border-solid border-2 border-black text-center flex justify-center align-middle cursor-pointer"
                  type="submit" name="square" th:value="${iter.index} + '_' + ${iterInner.index}">
              </button>
            </th:block>
            <th:block th:unless="${square == ''}">
              <div class="h-24 border-solid border-2 border-black text-center flex justify-center align-middle cursor-pointer">
                <span class="font-extrabold flex items-center self-center text-3xl" th:text="${square}">
                </span>
              </div>
            </th:block>
          </th:block>
        </th:block>
      </th:block>
      <th:block th:case="*">
        <th:block th:each="line, iter : *{game.board}">
          <th:block th:each="square, iterInner : ${line}">
            <div class="h-24 border-solid border-2 border-black text-center flex justify-center align-middle cursor-pointer">
              <span class="font-extrabold flex items-center self-center text-3xl" th:text="${square}">
              </span>
            </div>
          </th:block>
        </th:block>
      </th:block>
    </th:block>
  </form>
  <h2 class="mt-8 text-3xl font-bold uppercase" th:text="${game.result}"></h2>
  <div class="text-center mt-8">
    <form action="#" th:action="@{/restart}" th:method="post"
          class="w-full">
      <button type="submit"
              id="start"
              class="ml-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        New Game
      </button>
    </form>
  </div>
</main>
</body>
</html>
